# IDEs / Tools
.vscode
.env
.idea

# Data
data/**/*.csv
data/**/*.db
data/**/*.json
data/**/*.txt
data/**/*.rocksdb

# E2E (Stratus)
e2e/artifacts
e2e/typechain-types
e2e/node_modules
e2e/rpc-mock-server/node_modules
e2e/cache
e2e/.tool-versions
flamegraph.svg

# E2E (CloudWalk contracts)
e2e/cloudwalk-contracts/repos
e2e/cloudwalk-contracts/integration/contracts/*.flattened.sol
e2e/cloudwalk-contracts/integration/cache
e2e/cloudwalk-contracts/integration/typechain-types
e2e/cloudwalk-contracts/integration/artifacts
e2e/cloudwalk-contracts/integration/.openzeppelin
e2e/cloudwalk-contracts/.tool-versions
e2e/cloudwalk-contracts/integration/.tool-versions

# E2E (NodeJS)
node_modules/

# Build
/target
vendor
stratus.log
kubeconfig.yaml

# OS specific
.DS_Store
