name: Setup E2E Environment

on:
  workflow_call:
    inputs:
      justfile_recipe:
        required: true
        type: string
      justfile_env:
        required: false
        type: string
        default: ''
      cache_key:
        required: false
        type: string
        default: 'stable-release'

jobs:
  setup_and_test:
    name: Setup and Run E2E
    runs-on: ubuntu-latest
    timeout-minutes: 35
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Rust
        run: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain 1.75

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        id: cache-cargo
        with:
          prefix-key: ${{ runner.os }}-v3-cargo
          shared-key: ${{ inputs.cache_key }}
          key: ${{ hashFiles('Cargo.lock', 'Cargo.toml') }}
          cache-provider: "github"
          cache-directories: "~/.cargo/bin/"

      - name: Install protoc
        run: sudo apt-get install -y protobuf-compiler

      - name: Set up Just
        uses: extractions/setup-just@v2

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: .tool-versions

      - name: Install jq
        run: sudo apt-get install jq -y

      - name: Set up Test Dependencies
        if: ${{ steps.cache-cargo.outputs.cache-hit != 'true' }}
        run: |
          cargo install killport || true
          cargo install wait-service || true

      - name: Run e2e tests
        run: ${{ inputs.justfile_env }} just ${{ inputs.justfile_recipe }}
        env:
          CARGO_PROFILE_RELEASE_DEBUG: 0
          RUST_LOG: off
          RELEASE: 1
          RUST_BACKTRACE: 1
