name: Check Features

permissions: read-all

on:
  pull_request:
    branches:
      - '*'
    paths:
      - 'src/**'
      - '.github/workflows/check-features.yml'
      - 'justfile'
      - 'Cargo.toml'

  push:
    branches:
      - main
    paths:
      - 'Cargo.lock'
      - 'Cargo.toml'
    
  workflow_dispatch:

jobs:
  check_features:
    name: Check Features
    runs-on: ubuntu-latest
    timeout-minutes: 35

    concurrency:
      group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
      cancel-in-progress: true

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Rust
        run: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain 1.79

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        id: cache-cargo
        with:
          prefix-key: ${{ runner.os }}-v3-cargo
          shared-key: check
          key: ${{ hashFiles('Cargo.lock', 'Cargo.toml') }}
          cache-provider: "github"
          cache-directories: "~/.cargo/bin/"

      - name: Install protoc
        run: sudo apt-get install -y protobuf-compiler

      - name: Set up Just
        uses: extractions/setup-just@v2

      - name: Set up Test Dependencies
        if: ${{ steps.cache-cargo.outputs.cache-hit != 'true' }}
        run: |
          cargo install killport || true
          cargo install wait-service || true
          cargo install cargo-hack || true

      - name: Run cargo checks
        run: just check-features
        env:
          CARGO_PROFILE_RELEASE_DEBUG: 0
          RUST_LOG: off
          RELEASE: 1