name: E2E Tests

on:
  pull_request:
    branches:
      - '*'
    paths-ignore:
      - '.github/workflows/deploy.yml'
      - '.github/workflows/docs-release.yml'
      - '.github/workflows/outdated.yml'
      - '.github/workflows/comment-tag-report.yml'
      - '.github/workflows/pr-agent.yml'
      - '.github/workflows/build-binary.yml'
      - '.github/CODEOWNERS'
      - 'config/**'
      - 'README.md'
      - 'LICENSE'
      - 'CONTRIBUTING.md'
      - 'utils/slack-notifiers/**'
  workflow_dispatch:
  push: # Rebuild cache policy
    branches:
      - 'main'
    paths:
      - 'Cargo.lock'
      - 'Cargo.toml'

jobs:
  e2e-automine-stratus:
    name: E2E Automine Stratus in-memory
    uses: ./.github/workflows/_setup-e2e.yml
    with:
      justfile_recipe: 'e2e-stratus automine'

    concurrency:
      group: ${{ github.workflow }}-automine-inmemory-${{ github.ref || github.run_id }}
      cancel-in-progress: true

  e2e-automine-stratus-rocks:
    name: E2E Automine Stratus Rocks
    uses: ./.github/workflows/_setup-e2e.yml
    with:
      justfile_recipe: 'e2e-stratus-rocks automine'

    concurrency:
      group: ${{ github.workflow }}-automine-rocks-${{ github.ref || github.run_id }}
      cancel-in-progress: true

  e2e-external-stratus:
    name: E2E External Stratus in-memory
    uses: ./.github/workflows/_setup-e2e.yml
    with:
      justfile_recipe: 'e2e-stratus external'

    concurrency:
      group: ${{ github.workflow }}-external-inmemory-${{ github.ref || github.run_id }}
      cancel-in-progress: true

  e2e-external-stratus-rocks:
    name: E2E External Stratus Rocks
    uses: ./.github/workflows/_setup-e2e.yml
    with:
      justfile_recipe: 'e2e-stratus-rocks external'

    concurrency:
      group: ${{ github.workflow }}-external-rocks-${{ github.ref || github.run_id }}
      cancel-in-progress: true

  e2e-clock-stratus:
    name: E2E Clock Stratus in-memory
    uses: ./.github/workflows/_setup-e2e.yml
    with:
      justfile_recipe: 'e2e-clock-stratus'

    concurrency:
      group: ${{ github.workflow }}-clock-inmemory-${{ github.ref || github.run_id }}
      cancel-in-progress: true

  e2e-clock-stratus-rocks:
    name: E2E Clock Stratus Rocks
    uses: ./.github/workflows/_setup-e2e.yml
    with:
      justfile_recipe: 'e2e-clock-stratus-rocks'

    concurrency:
      group: ${{ github.workflow }}-clock-rocks-${{ github.ref || github.run_id }}
      cancel-in-progress: true
