name: Merge Gatekeeper

on:
  pull_request:
    branches:
      - '*'

jobs:
  merge-gatekeeper:
    runs-on: ubuntu-latest
    name: Merge Gatekeeper
    permissions:
      checks: read
      statuses: read
    steps:
      - name: Run Merge Gatekeeper
        uses: upsidr/merge-gatekeeper@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          self: Merge Gatekeeper
          interval: 5
          timeout: 1800
          ignored: PR Agent